<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 9:14:02 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
HotelSearchService API<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/HotelSearchService/GetHotelIndexWithFilterHelp">Get Hotel Index With Filter</a><br>
