<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 9:40:56 AM
  From Machine: DESKTOP-LSRVP12
  Filename: ServicePackage.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeServicePackage">CrudeServicePackage</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Service Package Id            </td><td>System.Guid</td></tr>
            <tr><td>Service Package Name            </td><td>System.String</td></tr>
            <tr><td>Service Hotel Id            </td><td>System.Guid</td></tr>
            <tr><td>Service Special Service Request Id            </td><td>System.Guid</td></tr>
            <tr><td>Service Car Rental Id            </td><td>System.Guid</td></tr>
            <tr><td>Departure Airport Id            </td><td>System.Guid</td></tr>
            <tr><td>Arrival Airport Id            </td><td>System.Guid</td></tr>
            <tr><td>Stay Duration Days            </td><td>System.Int32</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByServicePackageId' asp-route-servicepackageid=00000000-0000-0000-0000-000000000001>FetchByServicePackageId</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByServiceHotelId' asp-route-servicehotelid=00000000-0000-0000-0000-000000000001>FetchByServiceHotelId</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByServiceSpecialServiceRequestId' asp-route-servicespecialservicerequestid=00000000-0000-0000-0000-000000000001>FetchByServiceSpecialServiceRequestId</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByServiceCarRentalId' asp-route-servicecarrentalid=00000000-0000-0000-0000-000000000001>FetchByServiceCarRentalId</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByDepartureAirportId' asp-route-departureairportid=00000000-0000-0000-0000-000000000001>FetchByDepartureAirportId</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByArrivalAirportId' asp-route-arrivalairportid=00000000-0000-0000-0000-000000000001>FetchByArrivalAirportId</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageFetchByServicePackageName' asp-route-servicepackagename=String.Empty>FetchByServicePackageName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageCreate'>CrudeServicePackageCreate</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageUpdate'>CrudeServicePackageUpdate</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageDelete'>CrudeServicePackageDelete</a><br>
<a asp-area='' asp-controller='CrudeServicePackage' asp-action='CrudeServicePackageDeleteTest'>Delete Test (GET)</a><br>
