<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 2:17:41 PM
  From Machine: DESKTOP-LSRVP12
  Filename: ServiceHotelLink.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeServiceHotelLink">CrudeServiceHotelLink</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Service Hotel Link Id            </td><td>System.Guid</td></tr>
            <tr><td>Service Hotel Id            </td><td>System.Guid</td></tr>
            <tr><td>Link Type            </td><td>System.String</td></tr>
            <tr><td>Link            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchByServiceHotelLinkId' asp-route-servicehotellinkid=00000000-0000-0000-0000-000000000001>FetchByServiceHotelLinkId</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchByServiceHotelId' asp-route-servicehotelid=00000000-0000-0000-0000-000000000001>FetchByServiceHotelId</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchByLinkTypeRcd' asp-route-linktypercd=00000000-0000-0000-0000-000000000001>FetchByLinkTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkFetchByServiceHotelLinkId' asp-route-servicehotellinkid=Guid.Empty>FetchByServiceHotelLinkId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkCreate'>CrudeServiceHotelLinkCreate</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkUpdate'>CrudeServiceHotelLinkUpdate</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkDelete'>CrudeServiceHotelLinkDelete</a><br>
<a asp-area='' asp-controller='CrudeServiceHotelLink' asp-action='CrudeServiceHotelLinkDeleteTest'>Delete Test (GET)</a><br>
