<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 5:34:03 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingPassengerContract>

@{
    ViewBag.Title = "Index Booking Passenger";
}

<h2>Index for Booking Passenger</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingPassengerCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingPassengerEdit", new { bookingPassengerId = item.BookingPassengerId })
                | @Html.ActionLink("Delete", "CrudeBookingPassengerDelete", new { bookingPassengerId = item.BookingPassengerId })
            </td>
        </tr>
    }

</table>
