<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:04:02 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: AircraftMaintenanceSearchService</h1>
<br>
<h2>Method: Aircraft PIMD etails</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftPIMDetailsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftPIMDetails">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Maintenance Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Maintenance Compartment Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceCompartmentIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceCompartmentIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Maintenance Identifier Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceIdentifierIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceIdentifierIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Maintenance Document Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceDocumentIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/AircraftMaintenanceDocumentIndexWithFilter">JSON Reply</a><br>
<br>
<br>
