<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 8:01:58 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: AircraftMaintenanceDocumentIndexWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>aircraftId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Guid</td><td>AircraftId</td><tr>
<tr><td>System.String</td><td>AircraftName</td><tr>
<tr><td>System.String</td><td>AircraftDocumentTypeRcd</td><tr>
<tr><td>System.String</td><td>AircraftDocumentTypeName</td><tr>
<tr><td>System.String</td><td>DocumentName</td><tr>
<tr><td>System.DateTime</td><td>DocumentDateTime</td><tr>
<tr><td>System.DateTime</td><td>ExpiryDateTime</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>AircraftDocumentId</td><tr>
</table>
<br>
