<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 9:14:18 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceService API<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceService/PromotionSendHelp">Promotion Send</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceService/PromotionMakeBookingHelp">Promotion Make Booking</a><br>
