<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 9:03:50 PM
  From Machine: DESKTOP-LSRVP12
  Filename: AirlineTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeAirlineTypeRef">CrudeAirlineTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Airline Type            </td><td>System.String</td></tr>
            <tr><td>Airline Type Name            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefFetchByAirlineTypeRcd' asp-route-airlinetypercd=00000000-0000-0000-0000-000000000001>FetchByAirlineTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefFetchByAirlineTypeRcd' asp-route-airlinetypercd=String.Empty>FetchByAirlineTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefCreate'>CrudeAirlineTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefUpdate'>CrudeAirlineTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefDelete'>CrudeAirlineTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeAirlineTypeRef' asp-action='CrudeAirlineTypeRefDeleteTest'>Delete Test (GET)</a><br>
