<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:26:44 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: GetAirportIndexWithFilter<br>
<br>
<br>
Input:<br>
<table>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>AirportName</td><tr>
<tr><td>System.String</td><td>AirportTypeName</td><tr>
<tr><td>System.String</td><td>CityName</td><tr>
<tr><td>System.String</td><td>ProductName</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.String</td><td>AirportTypeRcd</td><tr>
<tr><td>System.Guid</td><td>CityId</td><tr>
<tr><td>System.Guid</td><td>ProductId</td><tr>
<tr><td>System.Decimal</td><td>UtcOffset</td><tr>
<tr><td>System.Decimal</td><td>ElevationInMeters</td><tr>
<tr><td>System.Decimal</td><td>RunwayInMeters</td><tr>
<tr><td>System.String</td><td>Latitude</td><tr>
<tr><td>System.String</td><td>Longitude</td><tr>
<tr><td>System.Guid</td><td>TimezoneId</td><tr>
<tr><td>System.String</td><td>Variation</td><tr>
<tr><td>System.String</td><td>Attendance</td><tr>
<tr><td>System.Boolean</td><td>ControlTowerFlag</td><tr>
<tr><td>System.DateTime</td><td>ActivationDateTime</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>AirportId</td><tr>
</table>
<br>
