<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 8:03:17 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: PassengersOnFlightCheckedIn<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>flightId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>RecordLocator</td><tr>
<tr><td>System.String</td><td>ReceivedFrom</td><tr>
<tr><td>System.String</td><td>PassengerName</td><tr>
<tr><td>System.String</td><td>PassengerTypeName</td><tr>
<tr><td>System.Guid</td><td>PassengerId</td><tr>
<tr><td>System.Guid</td><td>BookingId</td><tr>
<tr><td>System.Guid</td><td>BookingPassengerId</td><tr>
<tr><td>System.Guid</td><td>BookingFlightSegmentId</td><tr>
</table>
<br>
