<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:26:47 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: BookingFinancialTransactions<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Int32</td><td>TransactionNumber</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.String</td><td>TransactionType</td><tr>
<tr><td>System.String</td><td>TypeName</td><tr>
<tr><td>System.Decimal</td><td>DebitAmount</td><tr>
<tr><td>System.Decimal</td><td>CreditAmount</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeRcd</td><tr>
<tr><td>System.String</td><td>FinancialCostcentreCode</td><tr>
<tr><td>System.String</td><td>FinancialCostcentreName</td><tr>
<tr><td>System.String</td><td>DefaultUserCode</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.Guid</td><td>BookingId</td><tr>
</table>
<br>
