<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 9:13:21 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: BookingFlights<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>AirlineIdentifierCode</td><tr>
<tr><td>System.String</td><td>FlightNumber</td><tr>
<tr><td>System.String</td><td>DepartureAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>DepartureAirportName</td><tr>
<tr><td>System.String</td><td>ArrivalAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>ArrivalAirportName</td><tr>
<tr><td>System.DateTime</td><td>FromDateTime</td><tr>
<tr><td>System.DateTime</td><td>UntilDateTime</td><tr>
<tr><td>System.String</td><td>Comment</td><tr>
<tr><td>System.Guid</td><td>BookingFlightSegmentId</td><tr>
</table>
<br>
