<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 6:08:48 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: BookingSearchService</h1>
<br>
<h2>Method: Booking Statistics</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingStatisticsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingStatistics">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Event History</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventHistoryHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventHistory">JSON Reply</a><br>
<br>
<br>
<h2>Method: Bookings Open</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingsOpenHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingsOpen">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Passenger With Extra</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengerWithExtraHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengerWithExtra">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Passengers</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengersHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengers">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Flights</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFlightsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFlights">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Financial Transactions</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialTransactionsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialTransactions">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Service Summary</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingServiceSummaryHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingServiceSummary">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Financial Payments</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialPaymentsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialPayments">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Event Count</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventCountHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventCount">JSON Reply</a><br>
<br>
<br>
