<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 2:41:53 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: BookingFinancialPayments<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Int32</td><td>TransactionNumber</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.String</td><td>FinancialPaymentTypeRcd</td><tr>
<tr><td>System.String</td><td>FinancialPaymentTypeName</td><tr>
<tr><td>System.Decimal</td><td>PaidCurrencyAmount</td><tr>
<tr><td>System.String</td><td>PaidCurrencyType</td><tr>
<tr><td>System.Decimal</td><td>ExchangeRate</td><tr>
<tr><td>System.Decimal</td><td>BookingCurrencyAmount</td><tr>
<tr><td>System.String</td><td>BookingCurrencyType</td><tr>
<tr><td>System.String</td><td>PaymentDescription</td><tr>
<tr><td>System.String</td><td>FinancialCostcentreCode</td><tr>
<tr><td>System.String</td><td>FinancialCostcentreName</td><tr>
<tr><td>System.String</td><td>DefaultUserCode</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.Guid</td><td>FinancialPaymentId</td><tr>
</table>
<br>
