<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:36:36 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: BookingSearchService API<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingStatisticsHelp">Booking Statistics</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingStatistics">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventHistoryHelp">Booking Event History</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventHistory">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingsOpenHelp">Bookings Open</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingsOpen">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengerWithExtraHelp">Booking Passenger With Extra</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengerWithExtra">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengersHelp">Booking Passengers</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengers">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFlightsHelp">Booking Flights</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFlights">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialTransactionsHelp">Booking Financial Transactions</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialTransactions">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingServiceSummaryHelp">Booking Service Summary</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingServiceSummary">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialPaymentsHelp">Booking Financial Payments</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialPayments">Test</a><br>
<br>
<br>
Method: Booking Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventCountHelp">Booking Event Count</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventCount">Test</a><br>
<br>
<br>
