<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 9:13:20 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
BookingSearchService API<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingStatisticsHelp">Booking Statistics</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventHistoryHelp">Booking Event History</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingsOpenHelp">Bookings Open</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengerWithExtraHelp">Booking Passenger With Extra</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingPassengersHelp">Booking Passengers</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFlightsHelp">Booking Flights</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialTransactionsHelp">Booking Financial Transactions</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingServiceSummaryHelp">Booking Service Summary</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingFinancialPaymentsHelp">Booking Financial Payments</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/BookingEventCountHelp">Booking Event Count</a><br>
