<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 7:55:59 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: BookingEventCount<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Int32</td><td>BookingContactCount</td><tr>
<tr><td>System.Int32</td><td>BookingIdentifierCount</td><tr>
<tr><td>System.Int32</td><td>BookingServiceRequestCount</td><tr>
<tr><td>System.Int32</td><td>BookingEventCount</td><tr>
<tr><td>System.Int32</td><td>BookingFlightSegmentCount</td><tr>
<tr><td>System.Int32</td><td>BookingPassengerCount</td><tr>
<tr><td>System.Int32</td><td>FinancialBookingTransactionCount</td><tr>
<tr><td>System.Int32</td><td>FinancialPaymentCount</td><tr>
<tr><td>System.Int32</td><td>ConfirmedFlag</td><tr>
</table>
<br>
