<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:27:13 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: DefaultTestCompleteGet<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>defaultTestId</td><tr>
<tr><td>System.Guid</td><td>userId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Collections.Generic.List`1[SolutionNorSolutionPort.BusinessLogicLayer.CrudeDefaultTestContract]</td><td>DefaultTest</td><tr>
<tr><td>SolutionNorSolutionPort.BusinessLogicLayer.CrudeDefaultTestContract</td><td>DefaultTestNew</td><tr>
<tr><td>System.Int32</td><td>ChecksumAfterGet</td><tr>
</table>
<br>
