<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:37:02 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: DefaultTestService API<br>
<br>
Method: Default Test Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/DefaultTestCompleteGetHelp">Default Test Complete Get</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/DefaultTestCompleteGet">Test</a><br>
<br>
<br>
Method: Default Test Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/DefaultTestCompleteUpdateHelp">Default Test Complete Update</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/DefaultTestCompleteUpdate">Test</a><br>
<br>
<br>
Method: Default Test Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/AddTestRunHelp">Add Test Run</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/AddTestRun">Test</a><br>
<br>
<br>
Method: Default Test Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/RunAllTestsHelp">Run All Tests</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/RunAllTests">Test</a><br>
<br>
<br>
