<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:25:26 PM
  From Machine: DESKTOP-LSRVP12
  Filename: BookingDocument.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeBookingDocument">CrudeBookingDocument</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Booking Document Id            </td><td>System.Guid</td></tr>
            <tr><td>Booking Id            </td><td>System.Guid</td></tr>
            <tr><td>Booking Document Type            </td><td>System.String</td></tr>
            <tr><td>Booking Document Name            </td><td>System.String</td></tr>
            <tr><td>Booking Document Filename            </td><td>System.String</td></tr>
            <tr><td>Booking Document            </td><td>System.String</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchByBookingDocumentId' asp-route-bookingdocumentid=00000000-0000-0000-0000-000000000001>FetchByBookingDocumentId</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchByBookingId' asp-route-bookingid=00000000-0000-0000-0000-000000000001>FetchByBookingId</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchByBookingDocumentTypeRcd' asp-route-bookingdocumenttypercd=00000000-0000-0000-0000-000000000001>FetchByBookingDocumentTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentFetchByBookingDocumentName' asp-route-bookingdocumentname=String.Empty>FetchByBookingDocumentName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentCreate'>CrudeBookingDocumentCreate</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentUpdate'>CrudeBookingDocumentUpdate</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentDelete'>CrudeBookingDocumentDelete</a><br>
<a asp-area='' asp-controller='CrudeBookingDocument' asp-action='CrudeBookingDocumentDeleteTest'>Delete Test (GET)</a><br>
