<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 12:54:28 PM
  From Machine: DESKTOP-LSRVP12
  Filename: BookingPassengerEventTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeBookingPassengerEventTypeRef">CrudeBookingPassengerEventTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Booking Passenger Event Type            </td><td>System.String</td></tr>
            <tr><td>Booking Passenger Event Type Name            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefFetchByBookingPassengerEventTypeRcd' asp-route-bookingpassengereventtypercd=00000000-0000-0000-0000-000000000001>FetchByBookingPassengerEventTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefFetchByBookingPassengerEventTypeRcd' asp-route-bookingpassengereventtypercd=String.Empty>FetchByBookingPassengerEventTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefCreate'>CrudeBookingPassengerEventTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefUpdate'>CrudeBookingPassengerEventTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefDelete'>CrudeBookingPassengerEventTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerEventTypeRef' asp-action='CrudeBookingPassengerEventTypeRefDeleteTest'>Delete Test (GET)</a><br>
