<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 3:48:24 PM
  From Machine: DESKTOP-LSRVP12
  Filename: Booking.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeBooking">CrudeBooking</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Booking Id            </td><td>System.Guid</td></tr>
            <tr><td>Received From            </td><td>System.String</td></tr>
            <tr><td>Address Id            </td><td>System.Guid</td></tr>
            <tr><td>Booking Source            </td><td>System.String</td></tr>
            <tr><td>External System Id            </td><td>System.Guid</td></tr>
            <tr><td>Agency Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Currency Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Costcentre Id            </td><td>System.Guid</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByBookingId' asp-route-bookingid=00000000-0000-0000-0000-000000000001>FetchByBookingId</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByAddressId' asp-route-addressid=00000000-0000-0000-0000-000000000001>FetchByAddressId</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByBookingSourceRcd' asp-route-bookingsourcercd=00000000-0000-0000-0000-000000000001>FetchByBookingSourceRcd</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByExternalSystemId' asp-route-externalsystemid=00000000-0000-0000-0000-000000000001>FetchByExternalSystemId</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByAgencyId' asp-route-agencyid=00000000-0000-0000-0000-000000000001>FetchByAgencyId</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByFinancialCurrencyId' asp-route-financialcurrencyid=00000000-0000-0000-0000-000000000001>FetchByFinancialCurrencyId</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByFinancialCostcentreId' asp-route-financialcostcentreid=00000000-0000-0000-0000-000000000001>FetchByFinancialCostcentreId</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingFetchByBookingId' asp-route-bookingid=Guid.Empty>FetchByBookingId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingCreate'>CrudeBookingCreate</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingUpdate'>CrudeBookingUpdate</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingDelete'>CrudeBookingDelete</a><br>
<a asp-area='' asp-controller='CrudeBooking' asp-action='CrudeBookingDeleteTest'>Delete Test (GET)</a><br>
