<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 8:07:56 AM
  From Machine: DESKTOP-LSRVP12
  Filename: BookingContactMethod.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeBookingContactMethod">CrudeBookingContactMethod</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Booking Contact Method Id            </td><td>System.Guid</td></tr>
            <tr><td>Booking Id            </td><td>System.Guid</td></tr>
            <tr><td>Contact Method            </td><td>System.String</td></tr>
            <tr><td>Contact Method Way            </td><td>System.String</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchByBookingContactMethodId' asp-route-bookingcontactmethodid=00000000-0000-0000-0000-000000000001>FetchByBookingContactMethodId</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchByBookingId' asp-route-bookingid=00000000-0000-0000-0000-000000000001>FetchByBookingId</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchByContactMethodRcd' asp-route-contactmethodrcd=00000000-0000-0000-0000-000000000001>FetchByContactMethodRcd</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodFetchByBookingContactMethodId' asp-route-bookingcontactmethodid=Guid.Empty>FetchByBookingContactMethodId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodCreate'>CrudeBookingContactMethodCreate</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodUpdate'>CrudeBookingContactMethodUpdate</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodDelete'>CrudeBookingContactMethodDelete</a><br>
<a asp-area='' asp-controller='CrudeBookingContactMethod' asp-action='CrudeBookingContactMethodDeleteTest'>Delete Test (GET)</a><br>
