<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:26:02 PM
  From Machine: DESKTOP-LSRVP12
  Filename: BookingPassengerSeat.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeBookingPassengerSeat">CrudeBookingPassengerSeat</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Booking Passenger Seat Id            </td><td>System.Guid</td></tr>
            <tr><td>Seat Number            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatFetchByBookingPassengerSeatId' asp-route-bookingpassengerseatid=00000000-0000-0000-0000-000000000001>FetchByBookingPassengerSeatId</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatFetchByBookingPassengerSeatId' asp-route-bookingpassengerseatid=Guid.Empty>FetchByBookingPassengerSeatId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatCreate'>CrudeBookingPassengerSeatCreate</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatUpdate'>CrudeBookingPassengerSeatUpdate</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatDelete'>CrudeBookingPassengerSeatDelete</a><br>
<a asp-area='' asp-controller='CrudeBookingPassengerSeat' asp-action='CrudeBookingPassengerSeatDeleteTest'>Delete Test (GET)</a><br>
