<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 10:00:19 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportSupplierLinkContract>

@{
    ViewBag.Title = "Index Airport Supplier Link";
}

<h2>Index for Airport Supplier Link</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirportSupplierLinkCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirportSupplierLinkEdit", new { airportSupplierLinkId = item.AirportSupplierLinkId })
                | @Html.ActionLink("Delete", "CrudeAirportSupplierLinkDelete", new { airportSupplierLinkId = item.AirportSupplierLinkId })
            </td>
        </tr>
    }

</table>
