<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 8:06:53 AM
  From Machine: DESKTOP-LSRVP12
  Filename: AircraftMeasurement.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeAircraftMeasurement">CrudeAircraftMeasurement</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Aircraft Measurement Id            </td><td>System.Guid</td></tr>
            <tr><td>Length            </td><td>System.Decimal</td></tr>
            <tr><td>Height            </td><td>System.Decimal</td></tr>
            <tr><td>Weight            </td><td>System.Decimal</td></tr>
            <tr><td>Wingspan            </td><td>System.Decimal</td></tr>
            <tr><td>Width            </td><td>System.Decimal</td></tr>
            <tr><td>Payload            </td><td>System.Decimal</td></tr>
            <tr><td>Takeoff Weight In Kilo            </td><td>System.Decimal</td></tr>
            <tr><td>Speed            </td><td>System.Decimal</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementFetchByAircraftMeasurementId' asp-route-aircraftmeasurementid=00000000-0000-0000-0000-000000000001>FetchByAircraftMeasurementId</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementFetchByAircraftMeasurementId' asp-route-aircraftmeasurementid=Guid.Empty>FetchByAircraftMeasurementId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementCreate'>CrudeAircraftMeasurementCreate</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementUpdate'>CrudeAircraftMeasurementUpdate</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementDelete'>CrudeAircraftMeasurementDelete</a><br>
<a asp-area='' asp-controller='CrudeAircraftMeasurement' asp-action='CrudeAircraftMeasurementDeleteTest'>Delete Test (GET)</a><br>
