@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "NorPort ASP.net Core";
}

<br>
    <font size="4" color="DarkGreen">CRUD members and operators</font>
<br>

<a href="/Templates/Index">Database</a>
<br />
<a href="/Templates/Index2">API</a>
