<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 5:01:59 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FetchServiceSpecialServiceRequestWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>serviceSpecialServiceRequestGroupRcd</td><tr>
<tr><td>System.String</td><td>serviceSpecialServiceRequestCode</td><tr>
<tr><td>System.String</td><td>requestServiceSpecialServiceRequestRequirementRcd</td><tr>
<tr><td>System.String</td><td>replyServiceSpecialServiceRequestRequirementRcd</td><tr>
<tr><td>System.String</td><td>serviceSpecialServiceRequestOperationRuleRcd</td><tr>
</table>
<br>
Output:<br>
<table>
</table>
<br>
