<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 2:43:12 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FetchServiceSpecialServiceRequestWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>serviceSpecialServiceRequestGroupRcd</td><tr>
<tr><td>System.String</td><td>serviceSpecialServiceRequestCode</td><tr>
<tr><td>System.String</td><td>requestServiceSpecialServiceRequestRequirementRcd</td><tr>
<tr><td>System.String</td><td>replyServiceSpecialServiceRequestRequirementRcd</td><tr>
<tr><td>System.String</td><td>serviceSpecialServiceRequestOperationRuleRcd</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestGroupRcd</td><tr>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestGroupName</td><tr>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestCode</td><tr>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestName</td><tr>
<tr><td>System.String</td><td>ServiceDescription</td><tr>
<tr><td>System.Decimal</td><td>Amount</td><tr>
<tr><td>System.Guid</td><td>FinancialCurrencyId</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeName</td><tr>
<tr><td>System.Boolean</td><td>InventoryControlledFlag</td><tr>
<tr><td>System.String</td><td>RequestServiceSpecialServiceRequestRequirementRcd</td><tr>
<tr><td>System.String</td><td>RequestRequirementName</td><tr>
<tr><td>System.String</td><td>ReplyServiceSpecialServiceRequestRequirementRcd</td><tr>
<tr><td>System.String</td><td>ReplyRequirementName</td><tr>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestOperationRuleRcd</td><tr>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestOperationRuleName</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>ServiceSpecialServiceRequestId</td><tr>
</table>
<br>
