<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:05:29 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: GetServicePackage<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>servicePackageId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>ServicePackageName</td><tr>
<tr><td>System.Guid</td><td>ServiceHotelId</td><tr>
<tr><td>System.String</td><td>HotelName</td><tr>
<tr><td>System.Guid</td><td>ServiceSpecialServiceRequestId</td><tr>
<tr><td>System.String</td><td>ServiceSpecialServiceRequestName</td><tr>
<tr><td>System.Guid</td><td>ServiceCarRentalId</td><tr>
<tr><td>System.String</td><td>CarName</td><tr>
<tr><td>System.Guid</td><td>DepartureAirportId</td><tr>
<tr><td>System.String</td><td>DepartureAirportName</td><tr>
<tr><td>System.Guid</td><td>ArrivalAirportId</td><tr>
<tr><td>System.String</td><td>ArrivalAirportName</td><tr>
<tr><td>System.Int32</td><td>StayDurationDays</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>ServicePackageId</td><tr>
</table>
<br>
