<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:27:41 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: ServicePackagePromotionWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>clientId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>ServicePackageName</td><tr>
<tr><td>System.Guid</td><td>ClientId</td><tr>
<tr><td>System.String</td><td>ClientName</td><tr>
<tr><td>System.Decimal</td><td>PromotionPriceAmount</td><tr>
<tr><td>System.Guid</td><td>FinancialCurrencyId</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeName</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>ServicePackagePromotionId</td><tr>
<tr><td>System.Guid</td><td>ServicePackageId</td><tr>
</table>
<br>
