<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:05:28 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: ServiceSearchService</h1>
<br>
<h2>Method: Get Service Package</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/GetServicePackageHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/GetServicePackage">JSON Reply</a><br>
<br>
<br>
<h2>Method: Fetch Service Special Service Request With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/FetchServiceSpecialServiceRequestWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/FetchServiceSpecialServiceRequestWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Service Package Promotion With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/ServicePackagePromotionWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/ServicePackagePromotionWithFilter">JSON Reply</a><br>
<br>
<br>
