<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 10:26:28 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.TransactionsCreditDebitBalanceContract>

@{
    ViewBag.Title = "Transactions Credit Debit Balance";
}

<h2>Transactions Credit Debit Balance</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Debit Amount</th>
        <th>Credit Amount</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Date) </td>
            <td>@Html.DisplayFor(modelItem => item.DebitAmount) </td>
            <td>@Html.DisplayFor(modelItem => item.CreditAmount) </td>
        </tr>
    }

</table>
