<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:26:50 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: BookingService</h1>
<br>
<h2>Method: Get Booking Empty</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/GetBookingEmptyHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/GetBookingEmpty">JSON Reply</a><br>
<br>
<br>
<h2>Method: Create Booking</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/CreateBookingHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/CreateBooking">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Booking</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBooking">JSON Reply</a><br>
<br>
<br>
<h2>Method: Get Booking</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/GetBookingHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/GetBooking">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Booking Page1</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage1Help">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage1">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Booking Page2</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage2Help">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage2">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Booking Page3</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage3Help">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage3">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Booking Page4</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage4Help">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage4">JSON Reply</a><br>
<br>
<br>
<h2>Method: Passenger Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Passenger Remove</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerRemoveHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerRemove">JSON Reply</a><br>
<br>
<br>
<h2>Method: Passenger Update</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerUpdateHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerUpdate">JSON Reply</a><br>
<br>
<br>
<h2>Method: Payment Card Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentCardAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentCardAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Payment Cash Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentCashAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentCashAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Payment Voucher Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentVoucherAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentVoucherAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Payment Bank Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentBankAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentBankAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Payment Accounting Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentAccountingAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentAccountingAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Payment Get Currency</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentGetCurrencyHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentGetCurrency">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FlightAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FlightAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight Remove</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FlightRemoveHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FlightRemove">JSON Reply</a><br>
<br>
<br>
<h2>Method: Simulate Bookings</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/SimulateBookingsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/SimulateBookings">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Confirm</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingConfirmHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingConfirm">JSON Reply</a><br>
<br>
<br>
<h2>Method: Locator Create</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/LocatorCreateHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/LocatorCreate">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Financial Balance</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingFinancialBalanceHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingFinancialBalance">JSON Reply</a><br>
<br>
<br>
<h2>Method: Send Booking Confirmation By Email</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/SendBookingConfirmationByEmailHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/SendBookingConfirmationByEmail">JSON Reply</a><br>
<br>
<br>
<h2>Method: Passenger Check In</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerCheckInHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerCheckIn">JSON Reply</a><br>
<br>
<br>
<h2>Method: Passenger Check Out</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerCheckOutHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerCheckOut">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Service Hotel Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceHotelAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceHotelAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Service Ferry Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceFerryAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceFerryAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Service Car Rental Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceCarRentalAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceCarRentalAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Service Special Service Request Add</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceSpecialServiceRequestAddHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceSpecialServiceRequestAdd">JSON Reply</a><br>
<br>
<br>
<h2>Method: Booking Service Request Remove</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceRequestRemoveHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceRequestRemove">JSON Reply</a><br>
<br>
<br>
<h2>Method: Financial Currency Update</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FinancialCurrencyUpdateHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FinancialCurrencyUpdate">JSON Reply</a><br>
<br>
<br>
