<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 9:13:24 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
BookingService API<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/GetBookingEmptyHelp">Get Booking Empty</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/CreateBookingHelp">Create Booking</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingHelp">Update Booking</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/GetBookingHelp">Get Booking</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage1Help">Update Booking Page1</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage2Help">Update Booking Page2</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage3Help">Update Booking Page3</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/UpdateBookingPage4Help">Update Booking Page4</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerAddHelp">Passenger Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerRemoveHelp">Passenger Remove</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerUpdateHelp">Passenger Update</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentCardAddHelp">Payment Card Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentCashAddHelp">Payment Cash Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentVoucherAddHelp">Payment Voucher Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentBankAddHelp">Payment Bank Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentAccountingAddHelp">Payment Accounting Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PaymentGetCurrencyHelp">Payment Get Currency</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FlightAddHelp">Flight Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FlightRemoveHelp">Flight Remove</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/SimulateBookingsHelp">Simulate Bookings</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingConfirmHelp">Booking Confirm</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/LocatorCreateHelp">Locator Create</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingFinancialBalanceHelp">Booking Financial Balance</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/SendBookingConfirmationByEmailHelp">Send Booking Confirmation By Email</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerCheckInHelp">Passenger Check In</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/PassengerCheckOutHelp">Passenger Check Out</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceHotelAddHelp">Booking Service Hotel Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceFerryAddHelp">Booking Service Ferry Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceCarRentalAddHelp">Booking Service Car Rental Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceSpecialServiceRequestAddHelp">Booking Service Special Service Request Add</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/BookingServiceRequestRemoveHelp">Booking Service Request Remove</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/FinancialCurrencyUpdateHelp">Financial Currency Update</a><br>
