<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 7:56:04 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: GetBooking<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
<tr><td>System.Guid</td><td>userId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingContract</td><td>Booking</td><tr>
<tr><td>SolutionNorSolutionPort.BusinessLogicLayer.CrudeAddressContract</td><td>BookingAddress</td><tr>
<tr><td>System.Collections.Generic.List`1[SolutionNorSolutionPort.BusinessLogicLayer.CrudePassengerContract]</td><td>Passenger</td><tr>
<tr><td>System.Collections.Generic.List`1[SolutionNorSolutionPort.BusinessLogicLayer.BookingPassengersContract]</td><td>BookingPassengers</td><tr>
<tr><td>SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingIdentifierContract</td><td>BookingIdentifier</td><tr>
<tr><td>SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingContactMethodContract</td><td>BookingContactMethod</td><tr>
<tr><td>SolutionNorSolutionPort.BusinessLogicLayer.BookingEventCountContract</td><td>BookingEventCount</td><tr>
</table>
<br>
