<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 1:53:06 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: PassengerCheckIn<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingPassengerId</td><tr>
<tr><td>System.Guid</td><td>bookingFlightSegmentId</td><tr>
<tr><td>System.Guid</td><td>userId</td><tr>
</table>
<br>
Output:<br>
<table>
</table>
<br>
