<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 7:56:04 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: PaymentGetCurrency<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>financialCurrencyId</td><tr>
<tr><td>System.Guid</td><td>againstFinancialCurrencyId</td><tr>
<tr><td>System.DateTime</td><td>currencyDateTime</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Guid</td><td>FinancialCurrencyId</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeRcd</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeCode</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeName</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyAgainstFinancialCurrencyTypeRcd</td><tr>
<tr><td>System.DateTime</td><td>ValidFromDateTime</td><tr>
<tr><td>System.DateTime</td><td>ValidUntilDateTime</td><tr>
<tr><td>System.Decimal</td><td>Amount</td><tr>
<tr><td>System.Decimal</td><td>EqualsAmount</td><tr>
<tr><td>System.Int32</td><td>DecimalCount</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
</table>
<br>
