<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 7:19:05 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: UpdateBookingPage3<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
<tr><td>System.String</td><td>addressTypeRcd</td><tr>
<tr><td>System.String</td><td>addressOne</td><tr>
<tr><td>System.String</td><td>addressTwo</td><tr>
<tr><td>System.String</td><td>addressThree</td><tr>
<tr><td>System.String</td><td>city</td><tr>
<tr><td>System.String</td><td>street</td><tr>
<tr><td>System.String</td><td>state</td><tr>
<tr><td>System.String</td><td>district</td><tr>
<tr><td>System.String</td><td>province</td><tr>
<tr><td>System.String</td><td>zipCode</td><tr>
<tr><td>System.String</td><td>poBox</td><tr>
<tr><td>System.String</td><td>comment</td><tr>
<tr><td>System.Guid</td><td>userId</td><tr>
</table>
<br>
Output:<br>
<table>
</table>
<br>
