<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 10:39:17 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: UpdateBooking<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
<tr><td>System.String</td><td>bookingSourceRcd</td><tr>
<tr><td>System.String</td><td>locator</td><tr>
<tr><td>System.String</td><td>email</td><tr>
<tr><td>System.String</td><td>receivedFrom</td><tr>
<tr><td>System.String</td><td>comment</td><tr>
<tr><td>System.Guid</td><td>financialCurrencyId</td><tr>
<tr><td>System.Guid</td><td>financialCostcentreId</td><tr>
<tr><td>System.Guid</td><td>userId</td><tr>
</table>
<br>
Output:<br>
<table>
</table>
<br>
