<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 8:01:53 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: AircraftSearchService</h1>
<br>
<h2>Method: Aircraft Identifier Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIdentifierIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIdentifierIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Document Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDocumentIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDocumentIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Compartment Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftCompartmentIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftCompartmentIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Index With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIndexWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIndexWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Aircraft Details</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDetailsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDetails">JSON Reply</a><br>
<br>
<br>
