<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 7:55:48 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: AircraftCompartmentIndexWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>aircraftId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>AircraftName</td><tr>
<tr><td>System.String</td><td>AircraftCompartmentTypeName</td><tr>
<tr><td>System.String</td><td>AircraftCompartmentName</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.String</td><td>EngineType</td><tr>
<tr><td>System.Guid</td><td>AircraftId</td><tr>
<tr><td>System.Guid</td><td>AircraftCompartmentMeasurementId</td><tr>
<tr><td>System.String</td><td>AircraftCompartmentTypeRcd</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>AircraftCompartmentId</td><tr>
</table>
<br>
