<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:36:26 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: AircraftSearchService API<br>
<br>
Method: Aircraft Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIdentifierIndexWithFilterHelp">Aircraft Identifier Index With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIdentifierIndexWithFilter">Test</a><br>
<br>
<br>
Method: Aircraft Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDocumentIndexWithFilterHelp">Aircraft Document Index With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDocumentIndexWithFilter">Test</a><br>
<br>
<br>
Method: Aircraft Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftCompartmentIndexWithFilterHelp">Aircraft Compartment Index With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftCompartmentIndexWithFilter">Test</a><br>
<br>
<br>
Method: Aircraft Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIndexWithFilterHelp">Aircraft Index With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftIndexWithFilter">Test</a><br>
<br>
<br>
Method: Aircraft Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDetailsHelp">Aircraft Details</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/AircraftDetails">Test</a><br>
<br>
<br>
