<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 5:25:57 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.PassengersOnBookingContract>

@{
    ViewBag.Title = "Passengers On Booking";
}

<h2>Passengers On Booking</h2>

<table class="table">
    <tr>
        <th>Passenger Name</th>
        <th>Passenger Type Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PassengerName) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerTypeName) </td>
        </tr>
    }

</table>
