<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:27:19 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FinancialServiceDetailsForBooking<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>ServiceTypeName</td><tr>
<tr><td>System.String</td><td>ServiceDescription</td><tr>
<tr><td>System.String</td><td>ServiceRequestStatusName</td><tr>
<tr><td>System.Decimal</td><td>ServiceAmount</td><tr>
<tr><td>System.String</td><td>ServiceCurrencyTypeName</td><tr>
<tr><td>System.Guid</td><td>BookingServiceRequestId</td><tr>
<tr><td>System.Guid</td><td>ServiceSpecialServiceRequestId</td><tr>
<tr><td>System.Guid</td><td>ServiceHotelId</td><tr>
<tr><td>System.Guid</td><td>ServiceCarRentalId</td><tr>
</table>
<br>
