<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:05:07 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: FinancialSearchService</h1>
<br>
<h2>Method: Get Available Currencies</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/GetAvailableCurrenciesHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/GetAvailableCurrencies">JSON Reply</a><br>
<br>
<br>
<h2>Method: Financial Fares</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/FinancialFaresHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/FinancialFares">JSON Reply</a><br>
<br>
<br>
<h2>Method: Voucher Search With Remaining Amount</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/VoucherSearchWithRemainingAmountHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/VoucherSearchWithRemainingAmount">JSON Reply</a><br>
<br>
<br>
<h2>Method: Voucher Transactions</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/VoucherTransactionsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/VoucherTransactions">JSON Reply</a><br>
<br>
<br>
<h2>Method: Financial Service Details For Booking</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/FinancialServiceDetailsForBookingHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/FinancialServiceDetailsForBooking">JSON Reply</a><br>
<br>
<br>
<h2>Method: Service Ferry List</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/ServiceFerryListHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/ServiceFerryList">JSON Reply</a><br>
<br>
<br>
<h2>Method: Service Car Rental List</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/ServiceCarRentalListHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/ServiceCarRentalList">JSON Reply</a><br>
<br>
<br>
<h2>Method: Service Hotel List</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/ServiceHotelListHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/ServiceHotelList">JSON Reply</a><br>
<br>
<br>
<h2>Method: Special Service Request List</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/SpecialServiceRequestListHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/SpecialServiceRequestList">JSON Reply</a><br>
<br>
<br>
<h2>Method: Transactions Credit Debit Balance</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/TransactionsCreditDebitBalanceHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/TransactionsCreditDebitBalance">JSON Reply</a><br>
<br>
<br>
