<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 1:53:37 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: ServiceFerryList<br>
<br>
<br>
Input:<br>
<table>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>FerryName</td><tr>
<tr><td>System.Decimal</td><td>Amount</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeName</td><tr>
<tr><td>System.Guid</td><td>FerryId</td><tr>
<tr><td>System.Guid</td><td>ProductId</td><tr>
<tr><td>System.Guid</td><td>ServiceFerryId</td><tr>
</table>
<br>
