<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:48 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: VoucherSearchWithRemainingAmount<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.DateTime</td><td>voucherValidOnDateTime</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Guid</td><td>FinancialVoucherId</td><tr>
<tr><td>System.Guid</td><td>FinancialCurrencyId</td><tr>
<tr><td>System.Int32</td><td>VoucherNumber</td><tr>
<tr><td>System.String</td><td>VoucherDescription</td><tr>
<tr><td>System.Decimal</td><td>RemainingAmount</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeCode</td><tr>
<tr><td>System.String</td><td>FinancialCurrencyTypeName</td><tr>
<tr><td>System.DateTime</td><td>ValidFromDateTime</td><tr>
<tr><td>System.DateTime</td><td>ValidUntilDateTime</td><tr>
</table>
<br>
