@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/bundles/highchart")
}

<h2>Financial Transaction Balance</h2>

<p> Line Chart</p>

@(Model)
