<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:22 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: ClientSearchService</h1>
<br>
<h2>Method: Get Client With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ClientSearchService/GetClientWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ClientSearchService/GetClientWithFilter">JSON Reply</a><br>
<br>
<br>
