<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 9:13:32 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: GetClientWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>lastName</td><tr>
<tr><td>System.String</td><td>clientTypeRcd</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>FirstName</td><tr>
<tr><td>System.String</td><td>MiddleName</td><tr>
<tr><td>System.String</td><td>LastName</td><tr>
<tr><td>System.String</td><td>PassengerTypeRcd</td><tr>
<tr><td>System.String</td><td>PassengerTypeName</td><tr>
<tr><td>System.String</td><td>NationalityRcd</td><tr>
<tr><td>System.String</td><td>NationalityName</td><tr>
<tr><td>System.String</td><td>GenderRcd</td><tr>
<tr><td>System.String</td><td>GenderName</td><tr>
<tr><td>System.String</td><td>TitleRcd</td><tr>
<tr><td>System.String</td><td>TitleName</td><tr>
<tr><td>System.String</td><td>ClientTypeRcd</td><tr>
<tr><td>System.String</td><td>ClientTypeName</td><tr>
<tr><td>System.Guid</td><td>UserId</td><tr>
<tr><td>System.String</td><td>DefaultUserName</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>ClientId</td><tr>
<tr><td>System.Guid</td><td>DefaultUserId</td><tr>
</table>
<br>
