<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:23:05 AM
  From Machine: DESKTOP-LSRVP12
  Filename: City.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeCity">CrudeCity</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>City Id            </td><td>System.Guid</td></tr>
            <tr><td>Country Id            </td><td>System.Guid</td></tr>
            <tr><td>City Code            </td><td>System.String</td></tr>
            <tr><td>City Name            </td><td>System.String</td></tr>
            <tr><td>Product Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchByCityId' asp-route-cityid=00000000-0000-0000-0000-000000000001>FetchByCityId</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchByCountryId' asp-route-countryid=00000000-0000-0000-0000-000000000001>FetchByCountryId</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchByProductId' asp-route-productid=00000000-0000-0000-0000-000000000001>FetchByProductId</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityFetchByCityCode' asp-route-citycode=String.Empty>FetchByCityCode</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityCreate'>CrudeCityCreate</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityUpdate'>CrudeCityUpdate</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityDelete'>CrudeCityDelete</a><br>
<a asp-area='' asp-controller='CrudeCity' asp-action='CrudeCityDeleteTest'>Delete Test (GET)</a><br>
