<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 6:12:07 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FlightScheduleHistory<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>flightScheduleId</td><tr>
</table>
<br>
Output:<br>
<table>
</table>
<br>
