<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 6:12:02 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: ScheduleSearchService</h1>
<br>
<h2>Method: Flight Segments Schedule</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightSegmentsScheduleHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightSegmentsSchedule">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight Schedule History</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightScheduleHistoryHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightScheduleHistory">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight Schedule</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightScheduleHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightSchedule">JSON Reply</a><br>
<br>
<br>
