<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:37:23 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: ScheduleSearchService API<br>
<br>
Method: Schedule Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightSegmentsScheduleHelp">Flight Segments Schedule</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightSegmentsSchedule">Test</a><br>
<br>
<br>
Method: Schedule Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightScheduleHistoryHelp">Flight Schedule History</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightScheduleHistory">Test</a><br>
<br>
<br>
Method: Schedule Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightScheduleHelp">Flight Schedule</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/FlightSchedule">Test</a><br>
<br>
<br>
