<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 1:27:25 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: FlightService</h1>
<br>
<h2>Method: Get Flight</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/GetFlightHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/GetFlight">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Flight</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/UpdateFlightHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/UpdateFlight">JSON Reply</a><br>
<br>
<br>
<h2>Method: Check Flight Statuses</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/CheckFlightStatusesHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/CheckFlightStatuses">JSON Reply</a><br>
<br>
<br>
