@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>BookingTest</title>
    </head>
    <body>
        <div> 
            <h2>@Html.Raw(ViewBag.Result)</h2>
        </div>
    </body>
</html>
