<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 5:12:44 PM
  From Machine: DESKTOP-9A2DH39
  Filename: FinancialFare.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialFare">CrudeFinancialFare</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Fare Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Fare Type            </td><td>System.String</td></tr>
            <tr><td>Departure Airport Id            </td><td>System.Guid</td></tr>
            <tr><td>Arrival Airport Id            </td><td>System.Guid</td></tr>
            <tr><td>Valid From Flight Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Valid Until Flight Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Amount            </td><td>System.Decimal</td></tr>
            <tr><td>Financial Currency Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchByFinancialFareId' asp-route-financialfareid=00000000-0000-0000-0000-000000000001>FetchByFinancialFareId</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchByFinancialFareTypeRcd' asp-route-financialfaretypercd=00000000-0000-0000-0000-000000000001>FetchByFinancialFareTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchByDepartureAirportId' asp-route-departureairportid=00000000-0000-0000-0000-000000000001>FetchByDepartureAirportId</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchByArrivalAirportId' asp-route-arrivalairportid=00000000-0000-0000-0000-000000000001>FetchByArrivalAirportId</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchByFinancialCurrencyId' asp-route-financialcurrencyid=00000000-0000-0000-0000-000000000001>FetchByFinancialCurrencyId</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareFetchByFinancialFareId' asp-route-financialfareid=Guid.Empty>FetchByFinancialFareId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareCreate'>CrudeFinancialFareCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareUpdate'>CrudeFinancialFareUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareDelete'>CrudeFinancialFareDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialFare' asp-action='CrudeFinancialFareDeleteTest'>Delete Test (GET)</a><br>
