<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 2:42:18 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: DashboardCounts<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>dashboardLayoutRcd</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>DashboardItemRcd</td><tr>
<tr><td>System.String</td><td>DashboardItemName</td><tr>
<tr><td>System.String</td><td>ImageSource</td><tr>
<tr><td>System.String</td><td>Value</td><tr>
<tr><td>System.Int32</td><td>Last24HoursCount</td><tr>
<tr><td>System.String</td><td>LastDateTime</td><tr>
<tr><td>System.String</td><td>LastUserName</td><tr>
<tr><td>System.String</td><td>Url</td><tr>
<tr><td>System.Int32</td><td>PositionLeft</td><tr>
<tr><td>System.Int32</td><td>PositionTop</td><tr>
<tr><td>System.Int32</td><td>PositionOffset</td><tr>
</table>
<br>
