<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:26 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: DefaultIssueWithFilter<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>defaultIssueTypeRcd</td><tr>
<tr><td>System.String</td><td>defaultIssueStatusRcd</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>DefaultIssueTypeRcd</td><tr>
<tr><td>System.String</td><td>DefaultIssueTypeName</td><tr>
<tr><td>System.String</td><td>DefaultIssueStatusRcd</td><tr>
<tr><td>System.String</td><td>DefaultIssueStatusName</td><tr>
<tr><td>System.Guid</td><td>DefaultErrorId</td><tr>
<tr><td>System.String</td><td>MethodName</td><tr>
<tr><td>System.String</td><td>IssueName</td><tr>
<tr><td>System.String</td><td>IssueDescription</td><tr>
<tr><td>System.String</td><td>StepsToReproduce</td><tr>
<tr><td>System.String</td><td>Link</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>DefaultIssueId</td><tr>
</table>
<br>
