<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:04:35 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: DefaultUserActivityRecent<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>defaultUserId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.String</td><td>UserActivityTypeName</td><tr>
<tr><td>System.String</td><td>OriginatingAddress</td><tr>
<tr><td>System.String</td><td>Referrer</td><tr>
<tr><td>System.String</td><td>UserActivityNote</td><tr>
</table>
<br>
