<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 7:19:14 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
DefaultSearchService API<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultResourceDatabaseStatisticsHelp">Default Resource Database Statistics</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultResourceStatisticsHelp">Default Resource Statistics</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/GetDefaultChangeLogHelp">Get Default Change Log</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserListForDashboardHelp">Default User List For Dashboard</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserListHelp">Default User List</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityGroupedByAddressHelp">Default User Activity Grouped By Address</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityGroupedHelp">Default User Activity Grouped</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityOnAddressHelp">Default User Activity On Address</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityRecentHelp">Default User Activity Recent</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceTimeCommandsHelp">Default Performance Time Commands</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceTimesHelp">Default Performance Times</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsTop5Help">Default Statistics Top5</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsByMonthHelp">Default Statistics By Month</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityByHourHelp">Default User Activity By Hour</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsHelp">Default Statistics</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceIndicatorsHelp">Default Performance Indicators</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultErrorOverviewHelp">Default Error Overview</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultIssueWithFilterHelp">Default Issue With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceIssueFetchWithFilterHelp">Default Performance Issue Fetch With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DashboardCountsHelp">Dashboard Counts</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultTestOverviewHelp">Default Test Overview</a><br>
