<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:25 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: DefaultSearchService</h1>
<br>
<h2>Method: Default Resource Database Statistics</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultResourceDatabaseStatisticsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultResourceDatabaseStatistics">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Resource Statistics</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultResourceStatisticsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultResourceStatistics">JSON Reply</a><br>
<br>
<br>
<h2>Method: Get Default Change Log</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/GetDefaultChangeLogHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/GetDefaultChangeLog">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User List For Dashboard</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserListForDashboardHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserListForDashboard">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User List</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserListHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserList">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User Activity Grouped By Address</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityGroupedByAddressHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityGroupedByAddress">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User Activity Grouped</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityGroupedHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityGrouped">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User Activity On Address</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityOnAddressHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityOnAddress">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User Activity Recent</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityRecentHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityRecent">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Performance Time Commands</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceTimeCommandsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceTimeCommands">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Performance Times</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceTimesHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceTimes">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Statistics Top5</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsTop5Help">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsTop5">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Statistics By Month</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsByMonthHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsByMonth">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default User Activity By Hour</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityByHourHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultUserActivityByHour">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Statistics</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatisticsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultStatistics">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Performance Indicators</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceIndicatorsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceIndicators">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Error Overview</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultErrorOverviewHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultErrorOverview">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Issue With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultIssueWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultIssueWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Performance Issue Fetch With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceIssueFetchWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultPerformanceIssueFetchWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Dashboard Counts</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DashboardCountsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DashboardCounts">JSON Reply</a><br>
<br>
<br>
<h2>Method: Default Test Overview</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultTestOverviewHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/DefaultTestOverview">JSON Reply</a><br>
<br>
<br>
