<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:04:35 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: DefaultTestOverview<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>commandName</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>TestArea</td><tr>
<tr><td>System.DateTime</td><td>StartDateTime</td><tr>
<tr><td>System.String</td><td>DefaultTestRunResultRcd</td><tr>
</table>
<br>
