<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:01:07 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: DefaultPerformanceTimes<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>commandName</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Int32</td><td>Milliseconds</td><tr>
</table>
<br>
