<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 7:19:16 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: GetDefaultChangeLog<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>defaultChangeName</td><tr>
<tr><td>System.String</td><td>defaultChangeLogTypeRcd</td><tr>
<tr><td>System.Guid</td><td>defaultIssueId</td><tr>
<tr><td>System.Guid</td><td>defaultChangeLogId</td><tr>
</table>
<br>
Output:<br>
<table>
</table>
<br>
