@{
    ViewBag.Title = "nor-port";
}
<br />
<i>nor-port</i> is a Passenger Service System written for enterprise cloud environments with user interfaces tailored for PC, Web and Mobile<br>
<br />
<br />
Contact 1: <a href="mailto:norgate5@outlook.com">email</a> <br/>
Contact 2: <a href="https://join.skype.com/invite/OSMX53vTC96a">skype</a> <br/>
Contact 3: <a href="https://line.me/R/ti/p/norsariputta">LINE</a> <br/>
<br/>
Generated Date: <b><!--sql2x_generate_date_from-->1/4/2021 1:51:54 PM<!--sql2x_generate_date_until--></b><br />
Version: <b><!--sql2x_generate_version_from-->0.0.0.1 ()<!--sql2x_generate_version_until--></b><br />
Build Box: <b><!--sql2x_create_box_from-->DESKTOP-LSRVP12<!--sql2x_create_box_until--></b><br />
Internal Checkin Comment: <b><!--sql2x_internal_checkin_comment_from-->SQL2X - Creator - Init (sql2x rest documentation)<!--sql2x_internal_checkin_comment_until--></b><br />
<br />
<br />
<p>Under development:</p>
2021.01.05&nbsp;<i><a href="https://github.com/aunebakk/nor-port">Open Source in GitHub</a></i><br/>
<br />
<br />
<br />

<br />
<p>History:</p>
2020.06.16&nbsp;<i><a href="https://github.com/aunebakk">Readying a new Open Source version for Winter 2020</a></i><br/>
2019.02.??&nbsp;<i><a href="~/home/index">Open Sourced (Canceled)</a></i><br />
2019.02.04&nbsp;<i><a href="~/home/index">Internationalization</a></i><br />
2019.01.18&nbsp;<i><a href="~/install/Booking/publish.htm">Windows Version Booking</a></i><br />
2019.01.18&nbsp;<i><a href="~/install/Checkin/publish.htm">Windows Version Checkin</a></i><br />
2019.01.13&nbsp;<i><a href="~/install/Engine/publish.htm">Windows Version Engine</a></i><br />
2018.12.27&nbsp;<i><a href="~/install/publish.htm">Windows Version</a></i><br />
2018.12.25&nbsp;<i>@Html.ActionLink("Conception Version 2 ( sql2x creator )", "Index", "Home")</i><br />
2014.11.20&nbsp;<i>@Html.ActionLink("Conception Version 1 ( sql2x manual )", "Index", "Home")</i><br />
<br />
