@{
    ViewBag.Title = "nor-port API";
}
<br />
<i>nor-port</i> is a Passenger Service System written for enterprise cloud environments with user interfaces tailored for PC, Web and Mobile<br>
<br />

<h1>CRUD ( Create Read Update Delete ) Services:</h1>

<a href="~/Documentation/Crude/_Index.html">SOAP Documentation</a><br><br />
<a href="https://NorSolutionPortcore.azurewebsites.net/">REST Documentation</a><br><br />
<br />

<h1>SOAP services:</h1>
<br />

<h2>Maintenance</h2>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Aircraft/AircraftSearchService.svc">Aircraft Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Airline/AirlineSearchService.svc">Airline Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Airport/AirportSearchService.svc">Airport Search</a><br>

<a href="http://NorSolutionPortBusiness.azurewebsites.net/CarRental/CarRentalSearchService.svc">CarRental Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Ferry/FerrySearchService.svc">Ferry Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Hotel/HotelSearchService.svc">Hotel Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Client/ClientSearchService.svc">Client Search</a><br>

<h2>Booking</h2>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Booking/BookingSearchService.svc">Booking Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Booking/BookingService.svc">Booking</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Passenger/PassengerSearchService.svc">Passenger Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Service/ServiceSearchService.svc">Service Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Service/ServiceService.svc">Special Service Request</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Financial/FinancialSearchService.svc">Financial Search</a><br>

<h2>Flight Schedule</h2>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Flight/FlightSearchService.svc">Flight Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Flight/FlightService.svc">Flight</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Schedule/ScheduleSearchService.svc">Schedule Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Schedule/ScheduleService.svc">Schedule</a><br>

<h2>System</h2>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Default/DefaultSearchService.svc">Default Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Default/DefaultUserActivityService.svc">DefaultUserActivity</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/DefaultTest/DefaultTestSearchService.svc">Test Search</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/DefaultTest/DefaultTestService.svc">Test</a><br>
<a href="http://NorSolutionPortBusiness.azurewebsites.net/Default/DiagnosticsService.svc">Diagnostics</a><br>
