@{
    ViewBag.Title = "Nor-Port API";
}
<br />
<h1>Services</h1>
<br />
<br />
<h2>System</h2>
<br />
<table>
    <thead>
        <tr>
            <th width="400px">Name</th>
            <th width="100px">Protocol</th>
            <th>Protocol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CRUD ( Create Read Update Delete )</td>
            <td><a href="https://NorSolutionPortcore.AzureWebSites.net/Templates/Index2">REST</a></td>
            <td><a href="~/Documentation/Crude/_Index.html">SOAP</a></td>
        </tr>
        <tr>
            <td>Default Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Default/DefaultSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Default User Activity</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Default/DefaultUserActivityService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Test Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/DefaultTest/DefaultTestSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Test</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/DefaultTest/DefaultTestService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Diagnostics</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Default/DiagnosticsService.svc">SOAP</a></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<h2>Maintenance</h2>
<br />
<table>
    <thead>
        <tr>
            <th width="400px">Name</th>
            <th width="100px">Protocol</th>
            <th>Protocol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Aircraft Maintenance Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftMaintenanceSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/AircraftMaintenance/AircraftMaintenanceSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Aircraft Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AircraftSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Aircraft/AircraftSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Airline Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AirlineSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Airline/AirlineSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Airport Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/AirportSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Airport/AirportSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>CarRental Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/CarRentalSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/CarRental/CarRentalSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Ferry Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FerrySearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Ferry/FerrySearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Hotel Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/HotelSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Hotel/HotelSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Client Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ClientSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Client/ClientSearchService.svc">SOAP</a></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<h2>Booking</h2>
<br />
<table>
    <thead>
        <tr>
            <th width="400px">Name</th>
            <th width="100px">Protocol</th>
            <th>Protocol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Booking Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Booking/BookingSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Booking</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/BookingService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Booking/BookingService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Passenger Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/PassengerSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Passenger/PassengerSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Service Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Service/ServiceSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Special Service Request</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ServiceService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Service/ServiceService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Financial Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FinancialSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Financial/FinancialSearchService.svc">SOAP</a></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<h2>Flight Schedule</h2>
<br />
<table>
    <thead>
        <tr>
            <th width="400px">Name</th>
            <th width="100px">Protocol</th>
            <th>Protocol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Flight Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Flight/FlightSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Flight</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Flight/FlightService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Schedule Search</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleSearchService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Schedule/ScheduleSearchService.svc">SOAP</a></td>
        </tr>
        <tr>
            <td>Schedule</td>
            <td><a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/Help">REST</a></td>
            <td><a href="http://NorSolutionPortBusiness.AzureWebSites.net/Schedule/ScheduleService.svc">SOAP</a></td>
        </tr>
    </tbody>
</table>
