<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 5:02:37 PM
  From Machine: DESKTOP-LSRVP12
  Filename: AirportTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeAirportTypeRef">CrudeAirportTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Airport Type            </td><td>System.String</td></tr>
            <tr><td>Airport Type Name            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefFetchByAirportTypeRcd' asp-route-airporttypercd=00000000-0000-0000-0000-000000000001>FetchByAirportTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefFetchByAirportTypeRcd' asp-route-airporttypercd=String.Empty>FetchByAirportTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefCreate'>CrudeAirportTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefUpdate'>CrudeAirportTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefDelete'>CrudeAirportTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeAirportTypeRef' asp-action='CrudeAirportTypeRefDeleteTest'>Delete Test (GET)</a><br>
