<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 7:20:56 AM
  From Machine: DESKTOP-LSRVP12
  Filename: AirportTerminalAirline.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeAirportTerminalAirline">CrudeAirportTerminalAirline</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Airport Terminal Airline Id            </td><td>System.Guid</td></tr>
            <tr><td>Airport Terminal Id            </td><td>System.Guid</td></tr>
            <tr><td>Airline Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchByAirportTerminalAirlineId' asp-route-airportterminalairlineid=00000000-0000-0000-0000-000000000001>FetchByAirportTerminalAirlineId</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchByAirportTerminalId' asp-route-airportterminalid=00000000-0000-0000-0000-000000000001>FetchByAirportTerminalId</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchByAirlineId' asp-route-airlineid=00000000-0000-0000-0000-000000000001>FetchByAirlineId</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineFetchByAirportTerminalAirlineId' asp-route-airportterminalairlineid=Guid.Empty>FetchByAirportTerminalAirlineId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineCreate'>CrudeAirportTerminalAirlineCreate</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineUpdate'>CrudeAirportTerminalAirlineUpdate</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineDelete'>CrudeAirportTerminalAirlineDelete</a><br>
<a asp-area='' asp-controller='CrudeAirportTerminalAirline' asp-action='CrudeAirportTerminalAirlineDeleteTest'>Delete Test (GET)</a><br>
