<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:37:11 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: FlightSearchService API<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOnBookingHelp">Flights On Booking</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOnBooking">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightHistoryHelp">Flight History</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightHistory">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightSegmentsHelp">Flight Segments</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightSegments">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/AirportsAvailableWithFilterHelp">Airports Available With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/AirportsAvailableWithFilter">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOpenForCheckinWithDescriptionHelp">Flights Open For Checkin With Description</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOpenForCheckinWithDescription">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithCheckinInformationHelp">Flights With Checkin Information</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithCheckinInformation">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithBookingInformationHelp">Flights With Booking Information</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithBookingInformation">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForBookingWithFareHelp">Flights For Booking With Fare</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForBookingWithFare">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForPeriodHelp">Flights For Period</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForPeriod">Test</a><br>
<br>
<br>
Method: Flight Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightEventsHelp">Flight Events</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightEvents">Test</a><br>
<br>
<br>
