<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:51 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FlightsOnBooking<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>bookingId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.String</td><td>FlightNumber</td><tr>
<tr><td>System.String</td><td>OriginAirportCode</td><tr>
<tr><td>System.String</td><td>OriginAirportName</td><tr>
<tr><td>System.String</td><td>DestinationAirportCode</td><tr>
<tr><td>System.String</td><td>DestinationAirportName</td><tr>
<tr><td>System.DateTime</td><td>FromDateTime</td><tr>
<tr><td>System.DateTime</td><td>UntilDateTime</td><tr>
<tr><td>System.String</td><td>Comment</td><tr>
<tr><td>System.Guid</td><td>FlightId</td><tr>
</table>
<br>
