<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:01:31 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FlightEvents<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>flightId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Int32</td><td>FlightEventNumber</td><tr>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.String</td><td>DateTimeTypeRcd</td><tr>
<tr><td>System.String</td><td>DateTimeTypeName</td><tr>
<tr><td>System.DateTime</td><td>NewDateTime</td><tr>
</table>
<br>
