<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 5:01:41 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
FlightSearchService API<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOnBookingHelp">Flights On Booking</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightHistoryHelp">Flight History</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightSegmentsHelp">Flight Segments</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/AirportsAvailableWithFilterHelp">Airports Available With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOpenForCheckinWithDescriptionHelp">Flights Open For Checkin With Description</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithCheckinInformationHelp">Flights With Checkin Information</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithBookingInformationHelp">Flights With Booking Information</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForBookingWithFareHelp">Flights For Booking With Fare</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForPeriodHelp">Flights For Period</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightEventsHelp">Flight Events</a><br>
