<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:01:31 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FlightsWithBookingInformation<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>departureAirportId</td><tr>
<tr><td>System.Guid</td><td>arrivalAirportId</td><tr>
<tr><td>System.DateTime</td><td>fromDateTime</td><tr>
<tr><td>System.DateTime</td><td>untilDateTime</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Guid</td><td>FlightId</td><tr>
<tr><td>System.String</td><td>AirlineIdentifierCode</td><tr>
<tr><td>System.String</td><td>FlightNumber</td><tr>
<tr><td>System.String</td><td>DepartureAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>DepartureAirportName</td><tr>
<tr><td>System.String</td><td>ArrivalAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>ArrivalAirportName</td><tr>
<tr><td>System.DateTime</td><td>FromDateTime</td><tr>
<tr><td>System.DateTime</td><td>UntilDateTime</td><tr>
<tr><td>System.Boolean</td><td>CanBookFlag</td><tr>
<tr><td>System.Boolean</td><td>CanCheckinFlag</td><tr>
<tr><td>System.Boolean</td><td>InFlightFlag</td><tr>
<tr><td>System.Int32</td><td>FlightsBookedCount</td><tr>
<tr><td>System.String</td><td>LastDateTimeTypeName</td><tr>
<tr><td>System.DateTime</td><td>PlannedDepartureDateTime</td><tr>
<tr><td>System.DateTime</td><td>EstimatedDepartureDateTime</td><tr>
</table>
<br>
