<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 10:39:48 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FlightSegments<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>flightId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Guid</td><td>FlightId</td><tr>
<tr><td>System.Guid</td><td>FlightSegmentId</td><tr>
<tr><td>System.String</td><td>AirlineIdentifierCode</td><tr>
<tr><td>System.String</td><td>FlightNumber</td><tr>
<tr><td>System.String</td><td>DepartureAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>DepartureAirportName</td><tr>
<tr><td>System.String</td><td>ArrivalAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>ArrivalAirportName</td><tr>
<tr><td>System.DateTime</td><td>FromDateTime</td><tr>
<tr><td>System.DateTime</td><td>UntilDateTime</td><tr>
<tr><td>System.String</td><td>DepartureGate</td><tr>
<tr><td>System.String</td><td>ArrivalGate</td><tr>
<tr><td>System.Int32</td><td>LogicalSegmentNumber</td><tr>
<tr><td>System.Int32</td><td>PhysicalSegmentNumber</td><tr>
<tr><td>System.String</td><td>LastDateTimeTypeName</td><tr>
</table>
<br>
