<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 6:11:11 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: FlightSearchService</h1>
<br>
<h2>Method: Flights On Booking</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOnBookingHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOnBooking">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight History</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightHistoryHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightHistory">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight Segments</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightSegmentsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightSegments">JSON Reply</a><br>
<br>
<br>
<h2>Method: Airports Available With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/AirportsAvailableWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/AirportsAvailableWithFilter">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flights Open For Checkin With Description</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOpenForCheckinWithDescriptionHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsOpenForCheckinWithDescription">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flights With Checkin Information</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithCheckinInformationHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithCheckinInformation">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flights With Booking Information</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithBookingInformationHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsWithBookingInformation">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flights For Booking With Fare</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForBookingWithFareHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForBookingWithFare">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flights For Period</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForPeriodHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightsForPeriod">JSON Reply</a><br>
<br>
<br>
<h2>Method: Flight Events</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightEventsHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/FlightSearchService/FlightEvents">JSON Reply</a><br>
<br>
<br>
