<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 2:42:55 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: FlightHistory<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.Guid</td><td>flightId</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.DateTime</td><td>DateTime</td><tr>
<tr><td>System.Guid</td><td>FlightId</td><tr>
<tr><td>System.String</td><td>AirlineIdentifierCode</td><tr>
<tr><td>System.String</td><td>AirlineName</td><tr>
<tr><td>System.String</td><td>FlightNumber</td><tr>
<tr><td>System.String</td><td>AircraftTypeName</td><tr>
<tr><td>System.String</td><td>DepartureAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>DepartureAirportName</td><tr>
<tr><td>System.String</td><td>ArrivalAirportIdentifierCode</td><tr>
<tr><td>System.String</td><td>ArrivalAirportName</td><tr>
<tr><td>System.DateTime</td><td>FromDateTime</td><tr>
<tr><td>System.DateTime</td><td>UntilDateTime</td><tr>
<tr><td>System.Int32</td><td>SegmentCount</td><tr>
</table>
<br>
