<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/svg+xml" href="~/images/nor-port-no-text.svg" >
    <link rel="icon" type="image/svg+xml" href="~/images/nor-port-no-text.svg"> 
    <link rel="alternate icon" type="image/png" href="~/images/sadface.png"/>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
