@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">An error occurred while processing your request, the error is logged.</h2>

<a href="~/DefaultErrorOverviewLive/DefaultErrorOverviewLiveIndex">Error log</a>

<hr />
<p>
    @{
        string message = ViewBag.ExceptionMessage;
        if (message != null) { 
            message = message.Replace("\r\n", "<br>");
            @Html.Raw(message);
        }
    }
</p>

<br />

<p>
    @Html.ActionLink(   "Create Issue", 
                        "DefaultIssueCreate", 
                        "DefaultIssue", 
                        new { defaultErrorId = ViewBag.DefaultErrorId }, 
                        null
                        )
</p>
