<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 12:55:00 PM
  From Machine: DESKTOP-LSRVP12
  Filename: Client.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeClient">CrudeClient</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Client Id            </td><td>System.Guid</td></tr>
            <tr><td>First Name            </td><td>System.String</td></tr>
            <tr><td>Middle Name            </td><td>System.String</td></tr>
            <tr><td>Last Name            </td><td>System.String</td></tr>
            <tr><td>Address Id            </td><td>System.Guid</td></tr>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Passenger Type            </td><td>System.String</td></tr>
            <tr><td>Nationality            </td><td>System.String</td></tr>
            <tr><td>Gender            </td><td>System.String</td></tr>
            <tr><td>Title            </td><td>System.String</td></tr>
            <tr><td>Client Type            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByClientId' asp-route-clientid=00000000-0000-0000-0000-000000000001>FetchByClientId</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByAddressId' asp-route-addressid=00000000-0000-0000-0000-000000000001>FetchByAddressId</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByPassengerTypeRcd' asp-route-passengertypercd=00000000-0000-0000-0000-000000000001>FetchByPassengerTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByNationalityRcd' asp-route-nationalityrcd=00000000-0000-0000-0000-000000000001>FetchByNationalityRcd</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByGenderRcd' asp-route-genderrcd=00000000-0000-0000-0000-000000000001>FetchByGenderRcd</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByTitleRcd' asp-route-titlercd=00000000-0000-0000-0000-000000000001>FetchByTitleRcd</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByClientTypeRcd' asp-route-clienttypercd=00000000-0000-0000-0000-000000000001>FetchByClientTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientFetchByFirstName' asp-route-firstname=String.Empty>FetchByFirstName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientCreate'>CrudeClientCreate</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientUpdate'>CrudeClientUpdate</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientDelete'>CrudeClientDelete</a><br>
<a asp-area='' asp-controller='CrudeClient' asp-action='CrudeClientDeleteTest'>Delete Test (GET)</a><br>
