<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 1:53:57 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: ScheduleService</h1>
<br>
<h2>Method: Make Flights From Schedule All</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/MakeFlightsFromScheduleAllHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/MakeFlightsFromScheduleAll">JSON Reply</a><br>
<br>
<br>
<h2>Method: Make Flights From Schedule</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/MakeFlightsFromScheduleHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/MakeFlightsFromSchedule">JSON Reply</a><br>
<br>
<br>
<h2>Method: Get Schedule</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/GetScheduleHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/GetSchedule">JSON Reply</a><br>
<br>
<br>
<h2>Method: Create Schedule</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/CreateScheduleHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/CreateSchedule">JSON Reply</a><br>
<br>
<br>
<h2>Method: Update Schedule</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/UpdateScheduleHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/ScheduleService/UpdateSchedule">JSON Reply</a><br>
<br>
<br>
