<!--
 SQL2X Generated code based on a SQL Server Schema
 SQL2X Version: 1.0
 http://sql2x.org/
 Generated Date: 1/3/2021 4:11:31 PM
 From Machine: DESKTOP-LSRVP12
 Template: sql2x.GenerateDurian.DurianView
 Durian: Hotel|HotelSearch|Durian\HotelSearch\
-->

<br /><br /><br /><br /><br /><br />
<h1>HotelSearch</h1>
<br /><br /><br />
@RenderPage("ActionLinkSnippets.cshtml")
<br />
