<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 10:04:40 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: DefaultUserActivityService</h1>
<br>
<h2>Method: Resolve Netname From Ip V4</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/ResolveNetnameFromIpV4Help">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/ResolveNetnameFromIpV4">JSON Reply</a><br>
<br>
<br>
<h2>Method: Add Activity</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/AddActivityHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/AddActivity">JSON Reply</a><br>
<br>
<br>
<h2>Method: Login</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/LoginHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/Login">JSON Reply</a><br>
<br>
<br>
<h2>Method: Login Override User Name</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/LoginOverrideUserNameHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultUserActivityService/LoginOverrideUserName">JSON Reply</a><br>
<br>
<br>
