<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:30 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: ResolveNetnameFromIpV4<br>
<br>
<br>
Input:<br>
<table>
<tr><td>System.String</td><td>ipAddress</td><tr>
</table>
<br>
Output:<br>
<table>
<tr><td>System.Int32</td><td>Length</td><tr>
<tr><td>System.Char</td><td>Chars</td><tr>
</table>
<br>
