<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:01:16 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: DefaultTestSearchService</h1>
<br>
<h2>Method: Default Test Search With Filter</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestSearchService/DefaultTestSearchWithFilterHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestSearchService/DefaultTestSearchWithFilter">JSON Reply</a><br>
<br>
<br>
