<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:36:59 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: DefaultTestSearchService API<br>
<br>
Method: Default Test Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestSearchService/DefaultTestSearchWithFilterHelp">Default Test Search With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DefaultTestSearchService/DefaultTestSearchWithFilter">Test</a><br>
<br>
<br>
