<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 6:59:50 PM
  From Machine: DESKTOP-LSRVP12
  Filename: FlightScheduleIdentifier.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFlightScheduleIdentifier">CrudeFlightScheduleIdentifier</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Flight Schedule Identifier Id            </td><td>System.Guid</td></tr>
            <tr><td>Flight Schedule Id            </td><td>System.Guid</td></tr>
            <tr><td>Flight Identifier Type            </td><td>System.String</td></tr>
            <tr><td>Flight Identifier Code            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchByFlightScheduleIdentifierId' asp-route-flightscheduleidentifierid=00000000-0000-0000-0000-000000000001>FetchByFlightScheduleIdentifierId</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchByFlightScheduleId' asp-route-flightscheduleid=00000000-0000-0000-0000-000000000001>FetchByFlightScheduleId</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchByFlightIdentifierTypeRcd' asp-route-flightidentifiertypercd=00000000-0000-0000-0000-000000000001>FetchByFlightIdentifierTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierFetchByFlightScheduleIdentifierId' asp-route-flightscheduleidentifierid=Guid.Empty>FetchByFlightScheduleIdentifierId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierCreate'>CrudeFlightScheduleIdentifierCreate</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierUpdate'>CrudeFlightScheduleIdentifierUpdate</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierDelete'>CrudeFlightScheduleIdentifierDelete</a><br>
<a asp-area='' asp-controller='CrudeFlightScheduleIdentifier' asp-action='CrudeFlightScheduleIdentifierDeleteTest'>Delete Test (GET)</a><br>
