<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 8:14:11 AM
  From Machine: DESKTOP-LSRVP12
  Filename: Flight.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFlight">CrudeFlight</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Flight Id            </td><td>System.Guid</td></tr>
            <tr><td>Became Flight Id            </td><td>System.Guid</td></tr>
            <tr><td>Binding Flight Id            </td><td>System.Guid</td></tr>
            <tr><td>Airline Id            </td><td>System.Guid</td></tr>
            <tr><td>Aircraft Id            </td><td>System.Guid</td></tr>
            <tr><td>Aircraft Type            </td><td>System.String</td></tr>
            <tr><td>Departure Airport Id            </td><td>System.Guid</td></tr>
            <tr><td>Arrival Airport Id            </td><td>System.Guid</td></tr>
            <tr><td>From Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Until Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByFlightId' asp-route-flightid=00000000-0000-0000-0000-000000000001>FetchByFlightId</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByAirlineId' asp-route-airlineid=00000000-0000-0000-0000-000000000001>FetchByAirlineId</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByAircraftId' asp-route-aircraftid=00000000-0000-0000-0000-000000000001>FetchByAircraftId</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByAircraftTypeRcd' asp-route-aircrafttypercd=00000000-0000-0000-0000-000000000001>FetchByAircraftTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByDepartureAirportId' asp-route-departureairportid=00000000-0000-0000-0000-000000000001>FetchByDepartureAirportId</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByArrivalAirportId' asp-route-arrivalairportid=00000000-0000-0000-0000-000000000001>FetchByArrivalAirportId</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightFetchByFlightId' asp-route-flightid=Guid.Empty>FetchByFlightId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightCreate'>CrudeFlightCreate</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightUpdate'>CrudeFlightUpdate</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightDelete'>CrudeFlightDelete</a><br>
<a asp-area='' asp-controller='CrudeFlight' asp-action='CrudeFlightDeleteTest'>Delete Test (GET)</a><br>
