<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 5:09:42 PM
  From Machine: DESKTOP-LSRVP12
  Filename: FlightIdentifier.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFlightIdentifier">CrudeFlightIdentifier</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Flight Identifier Id            </td><td>System.Guid</td></tr>
            <tr><td>Flight Id            </td><td>System.Guid</td></tr>
            <tr><td>Flight Identifier Code            </td><td>System.String</td></tr>
            <tr><td>Flight Identifier Type            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchByFlightIdentifierId' asp-route-flightidentifierid=00000000-0000-0000-0000-000000000001>FetchByFlightIdentifierId</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchByFlightId' asp-route-flightid=00000000-0000-0000-0000-000000000001>FetchByFlightId</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchByFlightIdentifierTypeRcd' asp-route-flightidentifiertypercd=00000000-0000-0000-0000-000000000001>FetchByFlightIdentifierTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierFetchByFlightIdentifierId' asp-route-flightidentifierid=Guid.Empty>FetchByFlightIdentifierId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierCreate'>CrudeFlightIdentifierCreate</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierUpdate'>CrudeFlightIdentifierUpdate</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierDelete'>CrudeFlightIdentifierDelete</a><br>
<a asp-area='' asp-controller='CrudeFlightIdentifier' asp-action='CrudeFlightIdentifierDeleteTest'>Delete Test (GET)</a><br>
