<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:36:56 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: DiagnosticsService API<br>
<br>
Method: Diagnostics Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/WorkingSetHelp">Working Set</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/WorkingSet">Test</a><br>
<br>
<br>
Method: Diagnostics Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/PingTestHelp">Ping Test</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/PingTest">Test</a><br>
<br>
<br>
Method: Diagnostics Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/DatabaseHelp">Database</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/Database">Test</a><br>
<br>
<br>
Method: Diagnostics Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/ComputerNameHelp">Computer Name</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/ComputerName">Test</a><br>
<br>
<br>
