<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:55:32 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
<h1>ServiceName: DiagnosticsService</h1>
<br>
<h2>Method: Working Set</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/WorkingSetHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/WorkingSet">JSON Reply</a><br>
<br>
<br>
<h2>Method: Ping Test</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/PingTestHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/PingTest">JSON Reply</a><br>
<br>
<br>
<h2>Method: Database</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/DatabaseHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/Database">JSON Reply</a><br>
<br>
<br>
<h2>Method: Computer Name</h2>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/ComputerNameHelp">Documentation</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/DiagnosticsService/ComputerName">JSON Reply</a><br>
<br>
<br>
