<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 8:02:42 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMethodMake
-->
API Name: PingTest<br>
<br>
<br>
Input:<br>
<table>
</table>
<br>
Output:<br>
<table>
<tr><td>System.DateTime</td><td>Date</td><tr>
<tr><td>System.Int32</td><td>Day</td><tr>
<tr><td>System.DayOfWeek</td><td>DayOfWeek</td><tr>
<tr><td>System.Int32</td><td>DayOfYear</td><tr>
<tr><td>System.Int32</td><td>Hour</td><tr>
<tr><td>System.DateTimeKind</td><td>Kind</td><tr>
<tr><td>System.Int32</td><td>Millisecond</td><tr>
<tr><td>System.Int32</td><td>Minute</td><tr>
<tr><td>System.Int32</td><td>Month</td><tr>
<tr><td>System.DateTime</td><td>Now</td><tr>
<tr><td>System.DateTime</td><td>UtcNow</td><tr>
<tr><td>System.Int32</td><td>Second</td><tr>
<tr><td>System.Int64</td><td>Ticks</td><tr>
<tr><td>System.TimeSpan</td><td>TimeOfDay</td><tr>
<tr><td>System.DateTime</td><td>Today</td><tr>
<tr><td>System.Int32</td><td>Year</td><tr>
</table>
<br>
