<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 3:36:43 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.DotNetFrameworkBusinessToDotNetCoreRest.ViewMainMake
-->
<br>
ServiceName: CarRentalSearchService API<br>
<br>
Method: Car Rental Search Service<br>
<br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/CarRentalSearchService/GetCarRentalIndexWithFilterHelp">Get Car Rental Index With Filter</a><br>
<a href="http://NorSolutionPortCore.AzureWebSites.net/api/1/CarRentalSearchService/GetCarRentalIndexWithFilter">Test</a><br>
<br>
<br>
