<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 5:42:41 AM
  From Machine: DESKTOP-LSRVP12
  Filename: FerryTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFerryTypeRef">CrudeFerryTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Ferry Type            </td><td>System.String</td></tr>
            <tr><td>Ferry Type Name            </td><td>System.String</td></tr>
            <tr><td>State            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefFetchByFerryTypeRcd' asp-route-ferrytypercd=00000000-0000-0000-0000-000000000001>FetchByFerryTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefFetchByFerryTypeRcd' asp-route-ferrytypercd=String.Empty>FetchByFerryTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefCreate'>CrudeFerryTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefUpdate'>CrudeFerryTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefDelete'>CrudeFerryTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeFerryTypeRef' asp-action='CrudeFerryTypeRefDeleteTest'>Delete Test (GET)</a><br>
