<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 5:11:17 PM
  From Machine: DESKTOP-9A2DH39
  Filename: FerryIdentifier.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFerryIdentifier">CrudeFerryIdentifier</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Ferry Identifier Id            </td><td>System.Guid</td></tr>
            <tr><td>Ferry Id            </td><td>System.Guid</td></tr>
            <tr><td>Ferry Identifier Type            </td><td>System.String</td></tr>
            <tr><td>Ferry Identifier Code            </td><td>System.String</td></tr>
            <tr><td>State            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchByFerryIdentifierId' asp-route-ferryidentifierid=00000000-0000-0000-0000-000000000001>FetchByFerryIdentifierId</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchByFerryId' asp-route-ferryid=00000000-0000-0000-0000-000000000001>FetchByFerryId</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchByFerryIdentifierTypeRcd' asp-route-ferryidentifiertypercd=00000000-0000-0000-0000-000000000001>FetchByFerryIdentifierTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierFetchByFerryIdentifierId' asp-route-ferryidentifierid=Guid.Empty>FetchByFerryIdentifierId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierCreate'>CrudeFerryIdentifierCreate</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierUpdate'>CrudeFerryIdentifierUpdate</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierDelete'>CrudeFerryIdentifierDelete</a><br>
<a asp-area='' asp-controller='CrudeFerryIdentifier' asp-action='CrudeFerryIdentifierDeleteTest'>Delete Test (GET)</a><br>
